.Background {
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: -1;
}

.image1_Detail {
    width: 100vw;
    /* height: 100vh; */
}

.ImageTitle {
    align-items: flex-end;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin: 0px auto;
    height: 30vw;
    min-height: 170px;
    padding-bottom: 24px;
    width: 100%;
}

.ImageTitle_img {
    max-width: 600px;
    min-width: 200px;
    width: 35vw;
}

.ContentMeta {
    max-width: 874px;
}

.Controls {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    margin: 24px 0px;
    min-height: 56px;
}

.Player {
    font-size: 15px;
    margin: 0px 22px 0px 0px;
    padding: 0px 24px;
    height: 56px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.8px;
    text-align: center;
    text-transform: uppercase;
    background: rgb (249, 249, 249);
    border: none;
    color: rgb(0, 0, 0);
}

.Player1 {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(249, 249, 249);
    color: rgb(249, 249, 249);
}

.AddList {
    margin-right: 16px;
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.AddList span {
    background-color: rgb(249, 249, 249);
    display: inline-block;
}

.AddList span:first-child {
    height: 2px;
    transform: translate(1px, 0px) rotate(0deg);
    width: 16px;
}

.AddList span:nth-child(2) {
    height: 16px;
    transform: translateX(-8px) rotate(0deg);
    width: 2px;
}

.GroupWatch {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: white;
}

.div11 {
    height: 40px;
    width: 40px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
}

.SubTitle {
    color: rgb(249, 249, 249);
    font-size: 15px;
    min-height: 20px;
}
.Description{
    line-height: 1.4;
    font-size: 20px;
    padding: 16px 0px;
    color: rgb(249, 249, 249);
}
@media (max-width: 768px) {
    .image1_Detail {
        background-size: cover;
        background-repeat: no-repeat;
        
    }
}

@media (max-width:300px) {
    .image1_Detail {
        width: 100%;

    }
}